/* ================= SERVICES ================= */
.services {
    padding: 100px 10%;
    background: #020b2d;
    text-align: center;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media (max-width: 900px) {
    .services-container {
        grid-template-columns: 1fr;
    }
}

.service-card {
    background: #020617;
    padding: 40px 25px;
    border-radius: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.service-card i {
    font-size: 50px;
    color: #0ef;
    margin-bottom: 20px;
}

.service-card h3 {
    margin-bottom: 10px;
    color: #ededed;
}

.service-card p {
    line-height: 1.7;
    color: #dcdcdc;
}

/* Hover effect */
.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 238, 255, 0.3);
}