/* ================= SKILLS SECTION ================= */
.skills-section {
    padding: 80px 10%;
    background: #020d1f;
    color: #ededed;
}

/* Main Title */
.skills-main-title {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #ededed;
    text-align: center;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

.skills-main-title::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #00f0ff;
    display: block;
    margin: 12px auto 0;
    border-radius: 10px;
    transition: width 0.4s ease;
}

.skills-main-title:hover {
    color: #00f0ff;
    transform: translateY(-3px);
}

.skills-main-title:hover::after {
    width: 120px;
}

/* GRID LAYOUT */
.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

@media (max-width: 900px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}

/* SECTION HEADINGS WITH LEFT LINE */
.skills-title {
    font-size: 28px;
    margin-bottom: 20px;
    padding-left: 20px;
    /* spacing between line and text */
    border-left: 4px solid #00f0ff;
    /* neon line */
    color: #ffffff;
    display: inline-block;
    /* line sticks with heading */
    vertical-align: middle;
}

/* SKILL ITEMS CONTAINER */
.skills-items {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 40px;
}

/* SKILL CARD */
.skill-card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    background: #020d1f;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    color: #ededed;
    transition: all 0.35s ease;
}

.skill-card i {
    font-size: 26px;
}

.skill-card span {
    opacity: 0.9;
}

/* HOVER EFFECT */
.skill-card:hover {
    transform: translateY(-4px);
    background: #0ef;
    color: #020d1f;
    box-shadow: 0 0 15px rgba(0, 240, 255, 0.3);
}

/* SKILL IMAGE */
.skill-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 10px;
}

/* SKILL BAR */
.skill-bar {
    width: 100%;
    height: 8px;
    background: #020617;
    border-radius: 50px;
    overflow: hidden;
}

.skill-bar span {
    display: block;
    height: 100%;
    background: linear-gradient(90deg, #00f2ff, #007bff);
}

/* MORE BUTTON */
.skills-btn {
    margin-top: 40px;
    text-align: center;
}

.btn-more {
    padding: 12px 35px;
    font-size: 15px;
    font-weight: 500;
    color: #00f0ff;
    background: transparent;
    border: 2px solid #00f0ff;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.4s ease;
}

.btn-more:hover {
    color: #020d1f;
    background: #00f0ff;
    box-shadow: 0 0 10px #00f0ff,
        0 0 25px #00f0ff;
    transform: translateY(-4px);
}

.btn-more:active {
    transform: scale(0.95);
}